---
layout: archive
permalink: /arts/
title: "Art"
author_profile: true
---
<p style="font-size: 1.2em; margin-bottom: 2em;">
Welcome to my arts collection: poetry, reflections, videos, and audio.
<br>
Disclaimer 1: This page is a work in progress, and I will be adding more content over time. Feel free to explore and enjoy!
<br>
Disclaimer 2: Most of the content is originally in Arabic, and the translations have been done by GPT; so execuse any awkward phrasing or mistranslations. I will be improving the translations over time, but for now, I hope they convey the essence of the original works.
</p>

{% assign types = "poetry,khawatir,videos,audio" | split: "," %}

{% for type in types %}
  <h2>{{ type | capitalize }}</h2>

  <ul>
    {% assign items = site.arts | where: "type", type %}

    {% for item in items %}
      <li>

        {% if type == "videos" %}

          <div class="video-card">
            <a href="{{ item.video_url }}" target="_blank">

              {% if item.thumbnail %}
                <img src="{{ item.thumbnail }}" alt="{{ item.title }}">

              {% else %}
                {% assign video_id = item.video_url %}

                {% if video_id contains "v=" %}
                  {% assign video_id = video_id | split: "v=" | last %}
                {% elsif video_id contains "youtu.be/" %}
                  {% assign video_id = video_id | split: "youtu.be/" | last %}
                {% endif %}

                <img src="https://img.youtube.com/vi/{{ video_id }}/hqdefault.jpg">
              {% endif %}

              <h3>{{ item.title }}</h3>
            </a>
          </div>

        {% elsif type == "audio" %}

          <a href="{{ item.url }}" target="_blank">{{ item.title }}</a> (SoundCloud)

        {% else %}

          <a href="{{ item.url }}">{{ item.title }}</a>

        {% endif %}

      </li>
    {% endfor %}
  </ul>
{% endfor %}
