---
layout: default
---

{% assign section = '' %}
{% for link in site.data.navigation.main %}
  {% if page.url contains link.url and link.url != '/' %}{% assign section = forloop.index %}{% endif %}
{% endfor %}

<main id="main" class="leaf-grid" role="main">
  {% if page.author_profile %}{% include marginalia.html %}{% endif %}

  <div class="archive leaf">
    <header class="leaf__head">
      <p class="leaf__running">{% if section != '' %}§ 0{{ section }}{% else %}§{% endif %} <span>{{ site.author.name }}</span></p>
      <h1 class="page__title leaf__title">{{ page.title }}</h1>
    </header>
    {{ content }}
  </div>
</main>
